/*-------------------------------------//
//  Reset
//-------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------//
//  Base
//-------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  min-height: 100vh;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}
body {
  min-height: 100vh;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
  vertical-align: middle;
  -webkit-touch-callout: none;
}
ol, ul, li { list-style: none; }
span, i {
  display: inline-block;
  font-style: normal;
}
input, button, textarea {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #eee inset;
}

/*-------------------------------------//
//  Utility
//-------------------------------------*/

.u-cf:before,
.u-cf:after {
    content: "";
    display: table !important;
}
.u-cf:after { clear: both; }

.u-fl { float: left; }
.u-fr { float: right; }

/*-------------------------------------//
//  App
//-------------------------------------*/

.container { min-height: 100vh; }

.header__icon { padding: 5px 10px; }
.header__info { font-size: 0; }
.header__info__prof {
  display: inline-block;
  padding: 10px 0;
  vertical-align: top;
}
.header__info__prof__txt {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.4rem;
  vertical-align: middle;
}
.header__info__prof__img {
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
}
.header__info__edit {
  display: inline-block;
  padding: 15px;
  vertical-align: top;
}

.wrapper {
  display: table;
  width: 100%;
  height: calc(100vh - 51px);
}

.notebook {
  display: table-cell;
  width: 240px;
  height: 100%;
  vertical-align: top;
}
.notebook__info { padding: 20px 15px 10px; }

.notebook__info__back {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/arrow.png);
  background-size: 100% 100%;
  margin-right: 15px;
  vertical-align: middle;
}
.notebook__info__folder {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background: url(../img/close_white.png) no-repeat center center #2f8ed2;
  background-size: 18px auto;
  vertical-align: middle;
}
.notebook__info__file {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url(../img/file_white.png) no-repeat center center #2f8ed2;
  background-size: 16px auto;
  vertical-align: middle;
}

.notebook__list > li {
  position: relative;
  padding: 10px 60px 10px 50px;
  font-size: 1.4rem;
}
.notebook__list > li::before {
  position: absolute;
  top: 9px;
  left: 20px;
  display: block;
  width: 20px;
  height: 14px;
  background: url(../img/close.png) no-repeat;
  background-size: 100% auto;
  content: "";
}
.notebook__list > .is-open::before {
  background-image: url(../img/open.png);
}
.notebook__num {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  padding: 10px 20px;
  text-align: right;
}
.notebook__sub__list > li {
  position: relative;
  padding-left: 30px;
  padding: 10px 0 10px 30px;
  font-size: 1.4rem;
}
.notebook__sub__list > li::before {
  position: absolute;
  top: 9px;
  left: 0;
  display: block;
  width: 20px;
  height: 14px;
  background: url(../img/close.png) no-repeat;
  background-size: 100% auto;
  content: "";
}
.notebook__sub__num {
  position: absolute;
  top: 0;
  right: -60px;
  width: 60px;
  padding: 10px 20px;
  text-align: right;
}


.add {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.notebook__add { background-color: #007bb5; }
.search__add { background-color: #00ADB5; }
.add::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  margin: -10px 0 0 -1px;
  background-color: #fff;
  content: "";
}
.add::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  margin: -1px 0 0 -10px;
  background-color: #fff;
  content: "";
}

.search {
  position: relative;
  display: table-cell;
  width: 240px;
  height: 100%;
  color: #8F8F8F;
  vertical-align: top;
}
.search__head {
  padding: 20px;
}
.search__head__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #383838;
  color: #8F8F8F;
}
.search__result {
  padding: 0 20px 20px;
  font-size: 1.3rem;
}
.search__list {
  padding: 0 20px;
  font-size: 1.4rem;
}
.search__list > li {
  position: relative;
  padding-left: 30px;
  padding: 10px 0 10px 30px;
  font-size: 1.4rem;
}
.search__list > li::before {
  position: absolute;
  top: 9px;
  left: 3px;
  display: block;
  width: 14px;
  height: 14px;
  background: url(../img/file.png) no-repeat;
  background-size: 100% auto;
  content: "";
}

.memo {
  display: table-cell;
  height: 100%;
  vertical-align: top;
}

/*-------------------------------------//
//  Theme
//-------------------------------------*/

.dark.container {
  background-color: #2D2D2D;
  color: #fff;
}
.dark .header { border-bottom: 1px solid #383838; }
.dark .header__info__icon { fill: #8E8E8E }
.dark .header__info__prof__txt { color: #BCBCBC; }
.dark .notebook {
  border-right: 1px solid #383838;
  background-color: #2D2D2D;
  color: #8F8F8F;
}
/*.dark .notebook__list > li:hover {
  background-color: #ddd;
  color: #222;
}*/
.dark .search {
  border-right: 1px solid #383838;
  background-color: #212121;
}
.dark .memo {
  background-color: #181818;
}
