.root { color: #8F8F8F; }
.accentFont { color: #BCBCBC; }
.icon { fill: #8F8F8F; }
.header {
  border-bottom: 1px solid #383838;
  background-color: #2D2D2D;
}
.side {
  border-right: 1px solid #383838;
  background-color: #2D2D2D;
}
.middle {
  border-right: 1px solid #383838;
  background-color: #212121;
}
.main { background-color: #181818; }
.title { border-bottom: 1px solid #383838; }
